<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TweetPlottingOnMap</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
    
  <servlet>
  	  <display-name>TweetMapServerForTweets</display-name>
      <servlet-name>TweetMapServerForTweets</servlet-name>
      <servlet-class>TweetMapServerForTweets</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>TweetMapServerForTweets</servlet-name>
      <url-pattern>/TweetMapServerForTweets</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	  <display-name>TweetMapServerForKeyword</display-name>
      <servlet-name>TweetMapServerForKeyword</servlet-name>
      <servlet-class>TweetMapServerForKeyword</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>TweetMapServerForKeyword</servlet-name>
      <url-pattern>/TweetMapServerForKeyword</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	  <display-name>TwitterReaderForParticularUser</display-name>
      <servlet-name>TwitterReaderForParticularUser</servlet-name>
      <servlet-class>TwitterReaderForParticularUser</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>TwitterReaderForParticularUser</servlet-name>
      <url-pattern>/TwitterReaderForParticularUser</url-pattern>
  </servlet-mapping>
  
</web-app>